@import url(main.css);

.records {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background: var(--bg);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 3px;
}

.records h3 {
    color: var(--main);
    font-size: 1.4rem;
}

.records h3 span {
    font-size: 1.6rem;
    margin-right: .4rem;
}

.records hr {
    width: 100%;
}

.table-responsive {
    width: 100%;
    overflow: auto;
}

.record-header {
    padding: 1rem .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-by {
    display: flex;
    align-items: center;
}

.order-by span {
    display: inline-block;
    margin-right: .6rem;
    font-size: .9rem;
    color: #fff;
}

.order-by button {
    margin-left: 10px;
    padding: 0rem 1rem;
    font-weight: 400;
    height: 37px;
    width: 100px;
}

.add-btn {
    margin: 0;
    margin-right: -10px;
    padding: 0rem 1rem;
    height: 37px;
    width: 100px;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background: var(--main);
}

table thead th {
    padding: 1rem 0rem;
    text-align: left;
    color: #222;
    font-size: .9rem;
}

table thead th:first-child {
    padding-left: 1rem;
}

table tbody {
    background: var(--bg-body);
    color: #fff;
}

table tbody td {
    font-size: .9rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid var(--main);
}

table tbody td:first-child {
    padding: 1rem;
    color: var(--main);
    font-weight: 600;
    font-size: .9rem;
}

.nodata {
    border: 1px solid var(--main);
    background: var(--bg-body);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    color: #fff;
}

.nodata i {
    font-size: 40px;
    color: var(--main);
    margin-right: .5rem;
}

.actions a {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    margin-right: .5rem;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    color: #fff;
}

.pagination-container span {
    margin: 20px;
    background: transparent;
    border: none;
}

.pagination-container select {
    width: 60px;
}

.pagination-container a span {
    border: 2px solid var(--main);
    padding: .4rem;
    border-radius: 50%;
    font-size: .9rem;
    color: var(--main);
    transition: background-color 300ms, color 300ms;
}

.pagination-container a span:hover {
    background: var(--main);
    color: #fff;
}

.page-num {
    border: 1px solid red;
}

.page-num span {
    color: var(--main);
    margin: 10px;
}